[Unit]
Description=Servicio para ejecutar el servidor licencias flexlm
After=network.target
[Service]
User=flexlm
Type=simple
WorkingDirectory=/opt/flexlm/bin
Restart=always
#Este es el código de retorno que utiliza flexlm de salida ok
SuccessExitStatus=15 
RestartSec=30
ExecStart=/opt/flexlm/bin/lmgrd -z -c /opt/flexlm/lic/licencia.lic -l +/var/log/flexlm/flexlm.log
ExecReload=/opt/flexlm/bin/lmutil lmreread -c licencia.lic
ExecStop=/opt/flexlm/bin/lmutil lmdown -c licencia.lic -q -force
[Install]
WantedBy=multi-user.target